/* demo styles
  --------------------------------------------- */

body {
	font: 120% / 1.5 Arial;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

h1,
p {
	margin-bottom: 1.5em;
}

body > svg {
	display: none;
}

/*   General Style   
	---------------------------------------------*/

.txt-align-left {
	text-align: left;
}

.txt-align-center {
	text-align: center;
}

.col {
	text-align: left;
	width:auto;
	flex-grow: 0;
}

.row {
	display: flex;
	justify-content: center;
	width: auto;
}

.center {
	text-align: center;
}

.border-solid{
	border: 0.25em solid rgb(255, 1, 1);
}

/* padding */

.pad-s{
	padding: 0.5em;
}

.pad-m{
	padding: 1em;
}

.pad-l{
	padding: 1.5em;
}

.pad-xl{
	padding: 2.5em;
}
.pad-h-s {
	padding-left: 0.25em;
	padding-right: 0.25em;
}

.pad-top-s {
	padding-top: 0.5em;
}

.pad-top-m {
	padding-top: 1em;
}

.pad-top-l {
	padding-top: 1.5em;
}

.pad-top-xl {
	padding-top: 2.5em;
}

.pad-top-xxl {
	padding-top: 4em;
}

.pad-btm-s {
	padding-bottom: 0.5em;
}

.pad-btm-m {
	padding-bottom: 1em;
}

.pad-btm-l {
	padding-bottom: 1.5em;
}

.pad-btm-xl {
	padding-bottom: 2.5em;
}

.pad-btm-xxl {
	padding-bottom: 4em;
}

.m-top-s {
	margin-top: 0.5em;
}

.m-top-m {
	margin-top: 1em;
}

.m-top-l {
	margin-top: 1.5em;
}

.m-top-xl {
	margin-top: 2.5em;
}

.m-btm-s {
	margin-bottom: 0.5em;
}
.m-btm-m {
	margin-bottom: 1em;
}

.m-btm-l {
	margin-bottom: 1.5em;
}

.m-btm-xl{
	margin-bottom: 2.5em;
}

.nav-link {
	display: inline;
	text-decoration: none;
	padding: 0.5em 1em;
	border: 0.15em solid rgb(3, 154, 248);
	border-radius: 1em;
	background-color: none;
	color:rgb(3, 154, 248);
	transition: background-color .5s, color .5s, transform .5s;
}

.nav-link:hover {
	background-color: rgb(3, 154, 248);
	color:white;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
	transform: scale(1.05);
}

.image-project {
	max-width: 6em;
	height: auto;
	border-radius: 0;
}

.image-arrow {
	opacity: 0.05;
    filter: alpha(opacity=05); /* msie */
	transition: opacity .5s;
}


.image-arrow:hover {
	opacity: .4;
	filter: alpha(opacity=40); /* msie */
	filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.3));
}

.image-small {
	width: 10%;
	height: auto;
}

.image-arrow-invert {
	opacity: 0.25;
    filter: invert(100%); /* msie */
	transition: opacity .5s;
	
}

.image-arrow-invert:hover{
	opacity: .4;
	filter: invert(100%) drop-shadow(0 0 3px rgba(255, 255, 255, 0.7)); /* msie */
}



.box-shadow {
	box-shadow: 3px 3px 3px black;
}

/* web projects */

.proj-row {
	display: flex; 
	justify-content: space-around;
}

.proj-col{
	display: block;
	text-align: left;
	
}

.proj-col-width {
	display: block;
	text-align: left;
	width: 500px;
}

.proj-color-blue {
	color:rgb(159, 218, 255);
}

/* demo nav bar
  --------------------------------------------- */

nav {
	z-index: 1;
	display: block;
	position: fixed;
	right: 1.1rem;
	left: 0;
	text-align: center;
}

/* nav ul */
.nav {
	background-color: black;
	padding-left: 1.1rem;
}
.nav li {
	display: inline-block;
	list-style: none;
	margin: 0.5em 0 0.5em 0;
	padding: 0;
}
.nav a {
	padding: .5em;
	color: #fff;
	border-radius: 3px;
	transition-property: color;
	transition-duration: 0.5s;
}
.nav a:not(:hover) {
	text-decoration: none;
}

.nav a:hover {
	text-decoration: none;
	color: rgb(159, 218, 255);
}

ul {
	list-style: none;
}

/* slide layout
  --------------------------------------------- */

.slide {
	position: relative;
	padding: 8% 0;
	scroll-behavior: smooth;
}
.slide__content {
	max-width: 1200px;
	margin: auto;
}

.slide__title {
	text-align: center;
	margin-bottom: 1em;
}

.slide__header {
	text-align: center;
}

.slide__center {
	text-align: center;
}

.slide__text,
.slide__image {
	padding: 8%;
}
.slide__row {
	display: flex;
	/* width: auto;
	height: auto; */
	/* margin: 0;
	padding: 0; */
	align-items: stretch;
	align-content: stretch;
	justify-content: space-evenly;
}

.slide__col {
	
	/* display: block; */
	width:fit-content;
	margin: 0 auto; 

}

.slide__image svg {
	display: block;
	width: 100%;
	max-width: 560px;
	margin: auto;
}
.slide__bg {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
}

.slide__pic {
	text-align: center;
	margin: 0;
	padding: 0;
	height: auto;
	width: auto;
}

.slide__pic img {
	max-width: 15%;
	height: auto;
	border-radius: 75%;
	box-shadow: 0 0px 7px rgba(0, 0, 0, 0.3);
}

#slide-1 .slide__text {
	color: rgb(36, 48, 54);
}

#slide-1 li {
	color: rgb(10, 85, 134);
}

#slide-2 .slide__text {
	color: #394246;
}
#slide-3 .slide__text {
	border-radius: 1em;
	background-color: rgba(0,0,0,0.8);
	color: white;
}

/* slide backgrounds */

#slide-1 .slide__bg {
	background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)),
		url("../images/pexels-johannes-plenio-large.jpg");
	background-position: center;
	background-size: 225%;
}
#slide-2 .slide__bg {
	/* background-image: url("../images/pexels-hasan-albari-large.jpg");
	background-position: center;
	background-size: 100%; */
	background-color: #B3C1C4;
}
#slide-3 .slide__bg {
	background-image: url("../images/pexels-felix-mittermeier.jpg");
	background-position: center;
	background-size: 100%;
}
#slide-4 .slide__bg {
	background-image: repeating-linear-gradient(
		-45deg,
		rgb(133, 193, 230),
		rgb(133, 193, 230) 30px,
		rgb(113, 173, 210) 30px,
		rgb(113, 173, 210) 60px
	);
}
#slide-5 .slide__bg {
	background-image: repeating-linear-gradient(
		rgb(214, 229, 100),
		rgb(214, 229, 100) 30px,
		rgb(194, 209, 80) 30px,
		rgb(194, 209, 80) 60px
	);
}
#slide-6 .slide__bg {
	background-image: repeating-linear-gradient(
		45deg,
		rgb(133, 213, 230) 0px,
		rgb(133, 213, 230) 30px,
		rgb(113, 193, 210) 30px,
		rgb(113, 193, 210) 60px
	);
}

/* misc
  --------------------------------------------- */

.demo__info {
	position: fixed;
	width: 100%;
	bottom: 0;
	font-size: 80%;
	text-align: center;
	background: rgba(255, 255, 255, .5);
	padding: 0.5em;
	z-index: 100;
}

/* Large screen layout
  --------------------------------------------- */

@media screen and (min-width: 45em) {
	.slide__content {
		display: -webkit-flex;
		display: flex;
		align-items: center;
	}
	.slide__image,
	.slide__text {
		padding: 3%;
		-webkit-flex: 1;
		flex: 1;
	}
	.slide:nth-child(2n) .slide__text {
		-webkit-order: 1;
		order: 1;
	}
	.nav {
		display: block;
	}
	.image-project {
		max-width: 500px;
		height: auto;
		border-radius: .5em;
	}
	/* parallax */
	@supports ((perspective: 1px) and (not (-webkit-overflow-scrolling: touch))) {
		html,
		body {
			overflow: hidden;
			height: 100%;
			width: 100%;
		}
		body {
			transform: translateZ(0px); /* Fix paint issues in Edge && Safari H/W acceleration */
		}
		.slides {
			position: absolute;
			width: 100%;
			height: 100%;
			overflow-x: hidden;
			overflow-y: auto;
			perspective: 300px;
			scroll-behavior: smooth;
			scroll-snap-destination: 0% 0%;
			scroll-snap-type: mandatory;
		}
		.slide {
			scroll-snap-coordinate: 0% 0%;
		}
		.slide__content {
			height: 100%;
		}
		.slide,
		.slide__content {
			transform-style: preserve-3d;
		}
		.slide__text {
			transform: translateZ(60px) scale(.8);
			transform-origin: 50% 50%;
		}
		.slide:nth-child(2n) .slide__image {
			transform: translateZ(100px) scale(.67);
			transform-origin: 100% 50%;
		}
		.slide:nth-child(2n) .slide__text {
			transform-origin: 50% 50%;
		}
		.slide:nth-child(2n) .slide__bg {
			/*transform: translateZ(59px) scale(.85);*/
			transform: translateZ(-1px) scaleX(1.1) scaleY(.7);
			top: -10%;
		}
		.slide:nth-child(2n + 1):not(:first-child) .slide__bg {
			transform: translateZ(-1px) scale(1.5);
			top: -15%;
		}
		.slide:nth-child(2n + 1):not(:last-child) .slide__bg {
			bottom: -50%;
		}
		.slide:first-child {
			padding-top: 5%;
		}
		.slide:last-child {
			padding-top: 0%;
			padding-bottom: 14%;
		}
		.slide:nth-child(2n) {
			z-index: 1; /* ensure slides overlay correctly */
			padding-bottom: 14%;
		}
	}
}
