body {
    width: 80%;
    margin: auto;
    font-family: "Roboto Light", arial, Serif;
    font-weight: bold;
    font-size: 0.9em;
}

main {
    background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(222, 222, 222));
    width: auto;
    text-align: center;
}

h2 {
    display: block;
    height: auto;
    text-align: center;
    width: auto;
    padding: 5px 15px;
    border: 1px solid rgb(238, 170, 47);
    border-radius: 6px;
    background-image: linear-gradient(to bottom, rgb(252, 236, 155), rgb(210, 195, 128));
}

#temp,
#weight {
    display: block;
    text-align: center;
    height: auto;
    width: auto;
    padding: 5px 15px;
    border: 1px solid rgb(238, 170, 47);
    border-radius: 6px;
    margin: 0 auto;
    background-image: linear-gradient(to bottom, rgb(252, 236, 155), rgb(210, 195, 128));
}
/* center the submit, calculate buttons */
input[type="button"] {
    display: inline-block;
    margin: 0 10px;
}