.bg-gradient {
    background-image: var(--bs-gradient);
}


.w-custom {
    width: 67%;
}

.custom-pad {
    padding: 8px 0 0 0;
}

.footer {
    line-height: 1;
    color:white;
    background-image: var(--bs-gradient);
    margin-top: 2rem;
    padding-top: 0.25rem;
    font-size:.7rem;
}

.footer-bible {
    text-align: left;
    font-size: 0.6rem;
}

/* MUSIC PLAYER */

#musicplayer{
    position:absolute;
    left:0;
    font-size: .7rem;
}

#songinfo {
    display: none;
    margin-left: 1rem; 
}

.media-button {
    margin: 0.3rem;
    font-size: 1rem;
    color:rgb(17, 126, 2);
    filter: drop-shadow(0 0 0 black);
    transition: filter 0.2s;
}

.media-button:hover{
    filter: drop-shadow(0 0 0.2rem crimson);
}

/* ADVENT */
.countdown-text{
    font-size: .75rem;
    font-weight: bold;
    color:rgb(1, 128, 1);
}
.advent {
    margin: 0;
    background-color: rgba(255,255,255,1);
    font-size: 1rem;
    color: green;
    text-shadow: 0 0 3px #c00606;
    box-shadow: 0 0 5px black;
    transition: text-shadow 0.5s, transform .25s;
    /* margin: .5rem; */
}
.advent:hover{
    color:#c00606;
    border-color: #057915;
    text-shadow: 0 0 25px gold;
    box-shadow: 0 0 5px rgb(0, 185, 25);
    transform: scale(1.05);
}

.advent-shadow {
    background-image: none;
}

.advent-bg{
    padding-bottom: 6rem;
    background-image:url("../img/cal/day25.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size:4.5rem;
    
}

.advent-page-bg{
    height: 100vh;
    /* background-image:url("../img/cal/day25.jpg"); */
    background-image: linear-gradient( rgb(1, 128, 1), rgb(3, 26, 0));
    background-repeat:no-repeat;
    background-position: center;
    background-size: 200%;
}

#day17 {
    width: 4.5rem;
    height: auto;
}


@media (min-width: 280px){
    #musicplayer{
        left: 10px;
    }

    .advent{
        width: 3rem;
    }
    .advent-bg{
        padding-bottom: 3.25rem;
    }

    .advent-page-bg {
        height: 100vh;
    }
    .countdown-text{
        margin-left: 3rem;
    }
}

/* Generic Phone size */
@media (min-width: 360px) {
    .advent{
        width:auto;
    }

    .advent-bg{
        padding-bottom: 4.25rem;
    }
    .advent-page-bg {
        height: 100vh;
    }
    .countdown-text{
        font-size: 0.9rem;
        /* margin: auto; */
    }

    /* .footer {
        
    }
    
    .footer-bible{

    } */
}

@media (min-width: 520px){
    .media-button{
        display:inherit;
        font-size: 2rem;
    }

    .countdown-text{
        font-size: 1.5rem;
        margin:0 0 0 4rem;
    }

    .advent-page-bg {
        height: 100vh;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .advent {
        margin: 0.2rem;
    }

    .media-button{
        display:inherit;
        font-size: 1.5rem;
    }

    .countdown-text{
        margin:0;
    }

    .advent-page-bg {
        height: 100vh;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .advent {
        font-size: 2rem;
        margin: 0.5rem;
    }
    .advent-bg{
        padding-bottom: 6rem;
        background-size: 6rem;
    }

    .advent-page-bg {
        height: 100vh;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .countdown-text{
        font-size: 1.75rem;
    }

    .advent-page-bg {
        height: 100vh;
    }

}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
        #songinfo {
        display:inherit;
    }

    .media-button {
        margin: 0.5rem;
        
    }
    .advent {
        margin: 0.5rem;
    }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    /* MUSIC PLAYER */

    #musicplayer{
        position:absolute;
        left:0;
        font-size: .7rem;
    }

    #songinfo {
        display: inherit;
        margin-left: 1rem; 
    }

    .media-button {
        font-size: 1rem;
        color:rgb(17, 126, 2);
        filter: drop-shadow(0 0 0 black);
        transition: filter 0.2s;
    }
    .countdown-text{
        font-size: 1.75rem;
    }
    .advent {
        margin: 0.5rem;
        background-color: rgba(255,255,255,1);
        font-size: 2rem;
        color: green;
        text-shadow: 0 0 3px #c00606;
        box-shadow: 0 0 5px black;
        transition: text-shadow 0.5s, transform .25s;
        /* margin: .5rem; */
    }
    .advent:hover{
        color:#c00606;
        border-color: #057915;
        text-shadow: 0 0 25px gold;
        box-shadow: 0 0 5px rgb(0, 185, 25);
        transform: scale(1.05);
    }

    .advent-bg{
        padding-bottom: 6rem;
        background-image:url("../img/cal/day25.jpg");
        background-repeat: no-repeat;
        background-position: center;
        /* background-size:4.5rem; */
        
    }
}